@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#{
	box-sizing: border-box;
}

body{
	margin:0;
	height:100vh;
	font-family:'Lato',sans-serif;
	font-weight:bold;
	font-size: 1.5rem;
	text-transform:uppercase;
}

#app{
	height:100%;
	display:flex;
	transition: background-color 5s;
}

.container{
	margin:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}

button{
	transition:0.25s
}

input,button{
	all:unset;
}

@keyframes fillIn {
	0% {
		background: linear-gradient(to right, #ffffff 100%, #000000 100%);
  }
	
	10% {
		background: linear-gradient(to right, #ffffff 90%, #000000 90%);
  }
	
	20% {
		background: linear-gradient(to right, #ffffff 80%, #000000 80%);
  }
	
	30% {
		background: linear-gradient(to right, #ffffff 70%, #000000 70%);
  }

	40%{
		background: linear-gradient(to right, #ffffff 60%, #000000 60%);
	}
	
	50%{
		background: linear-gradient(to right, #ffffff 50%, #000000 50%);
	}
	
	60% {
		background: linear-gradient(to right, #ffffff 40%, #000000 40%);
  }
	
	70%{
		background: linear-gradient(to right, #ffffff 30%, #000000 30%);
	}
	
  	80% {
    	background: linear-gradient(to right, #ffffff 20%, #000000 20%);
  }
	
	90%{
		background: linear-gradient(to right, #ffffff 10%, #000000 10%);
	}
	
	100% {
    	background: linear-gradient(to right, #ffffff 0%, #000000 0%);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


#credit{
  position:absolute;
  right:0px;
  bottom:0px;
  font-size:0.8rem;
  text-transform:none;
}

#credit p{
  color:#000000;
}

.form {
	position: relative;
	z-index: 1;
	background: -o-linear-gradient(right,  #42275a, #734b6d);
	max-width: 400px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
  }
  .form #texta {
	font-family: "Roboto", sans-serif;
	outline: 0;
	color: whitesmoke;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }
  iframe {
	padding-left: 2.5em;
	padding-top: 1em;
  }
  .form button {
	margin-top: 6em;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(86, 51, 116);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
	background: rgb(192, 13, 156);
  }