  <meta charset="UTF-8">
  <meta content="origin" name="referrer">
  <meta content="Hang out and chat about infosec with a cool group of CTF players, programmers & hackers. Come join the party!" name="description">
  <meta property="og:image" content="https://cdn.discordapp.com/icons/470253814235136040/a_0adacb23f522609d89be71f541635606.png">
  <title>John Hammond Discord</title>
    <div id="app" :style="{background: gradient}">
        <div class="container">
          <div class="form">
            <p id="texta">Pass this captcha to get your one time invite link</p>
            <form action="{{ url_for('verify') }}" method="POST">
              {{ form.csrf_token }}
              {{ form.recaptcha }}
              <button type="submit">Get invite link</button>
            </form>
          </div>
        </div>
        <div id="credit">
          <p>brought to you by JHD dev team</p>
        </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
<script src="./static/script.js"></script>
<link href="./static/style.css" rel="stylesheet" />

<!-- made by pop_eax with ❤ -->
